*{
    color: #212121;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background: #FFF5EF;
    list-style-type: none;
}

a:link {
    color: #212121;
}

/* Header */

.header__flex {
    display: flex;
    justify-content: end;
}

.header__container--color {
    background: #fefefe;
}

.logo {
    display: flex;
    background: #fefefe;
    cursor: pointer;
}

/* FIN Header */

/* Espesoficos */

.imgPrincipal {
    display: flex;
    width: 100%;
}

.container__contact--wp{
    padding: 8px;
    background: #01E776;
    border-radius: 10px;
    cursor: pointer;
}

.bg{
    background: #01E776;
}

.contact__wpp--positio{
    position: fixed;
    bottom: 70px;
    right: 80px;
}

@media only screen and (max-width: 992px) {
    .contact__wpp--positio{
        position: fixed;
        bottom: 70px;
        right: 80px;
    }
}
@media only screen and (max-width: 786px) {
    .contact__wpp--positio{
        position: fixed;
        bottom: 50px;
        right: 80px;
    }
}
@media only screen and (max-width: 576px) {
    .contact__wpp--positio{
        position: fixed;
        bottom: 60px;
        right: 40px;
    }
}


.descripción__container{
    display: flex;
    justify-content: center;
}

.descripción__container--p {
    width: 80%;
    font-style: italic;
    padding: 40px 10px;
}

/* Fin Espesoficos */

/* main */

.grid__productos--container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 10px 50px;
}

@media only screen and (max-width: 992px){
    .grid__productos--container {
        display: grid;
        grid-template-columns: repeat(4, fr);
        gap: 30px;
        padding: 10px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .grid__productos--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 10px 50px;
    }
}

@media only screen and (max-width: 576px) {
    .grid__productos--container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 10px 50px;
    }
}

.products__container--img {
    width: 100%;
    border-radius: 20px;
}

/* Fin main */

/* Footer */

.container__footer {
    background: #A79696;
    height: 300px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.ifoF {
    background: #A79696;
    text-decoration: none;
    cursor: pointer;
    
}

.container__ifo--util {
    background: #A79696;
}

.redes-container{
    display: flex;
    gap: 20px;
    background: #A79696;
}

@media only screen and (max-width: 576px){
    .container__footer {
        background: #A79696;
        height: 300px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 20px;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* Fin Footer */
 

.container__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__main--section {
    display: flex;
    width: 80%;
    height: 600px;
    justify-content: center;
    align-items: center;
    
}




.historia-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-style: italic;
    justify-content: space-between;
    flex-wrap: wrap;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}


.form{
    flex-direction: column;
    gap: 10px;

} 

button {
    padding: 4px;
    background: #A79696;
    color: #fefefe
;
}

