*{
    color: #212121;
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    background: #FFF5EF;
    /* list-style-type: none; */
}

.header-container {
    background: #fefefe;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0%;
}

.header-main {
    background: #fefefe;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.nav-container {
    display: flex;
    background: #fefefe;
    justify-items: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    background: #fefefe;
    cursor: pointer;
}

nav a {
    background: #fefefe;
    text-decoration: none;
}

nav a:hover {
    text-decoration: #212121;
    text-decoration: underline;
    text-underline-offset: 4px;
}


.imgPrincipal {
    display: flex;
    width: 100%;
}

.descripción-container{
    display: flex;
    justify-content: center;
}

.descripción {
    display: flex;
    width: 80%;
    text-align: center;
    height: 200px;
    font-style: italic;
    align-items: center;
    background: #000;
}

.productos-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    border-radius: 12px;
}



div div img {
    width: 300px;
    border-radius: 12px;
}

footer {
    /* padding: 40px 80px 40px 80px; */
    background: #A79696;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ifoF {
    background: #A79696;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
}

.ifocontenedor {
    background: #A79696;
}

.redes-container{
    display: flex;
    gap: 20px;
    background: #A79696;
}

.historia-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    font-style: italic;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.descripción{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.nosotros-img {
    display: flex;
}

.separar {
    flex-direction: column;
    gap: 40px;
}

.form{
    flex-direction: column;
    gap: 10px;

} 

button {
    padding: 4px;
    background: #A79696;
    color: #fefefe
;
}

