.container__talleres{
    @include display;
    flex-direction: column;
    gap: 100px;
    padding: 60px;


    .container__talleres--texto{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .container__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    
        .img__talleres {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}





